<h4>Edycja uzytkownika <%= current_user.email %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>



  <div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">account_circle</i>
          <%= f.email_field :email, autofocus: true %>
          <%= f.label :email %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.label :password, 'Hasło' %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.label :password_confirmation, 'Potwierdz Hasło' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <%= f.password_field :current_password, autocomplete: "off" %>
          <%= f.label :current_password, 'Aktualne Hasło' %>
        </div>
      </div>





    </form>
  </div>

  <div class="actions">
    <%= f.submit "Aktualizuj", class: 'btn btn-large waves-effect indigo' %>
  </div>
<% end %>
<br>
<h3>Usuń Moje Konto</h3>

<p> <%= button_to "Usuń", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete %></p>

<%= link_to "Wroc", :back %>
