<div class="kontener hide-on-small-only">
  <div class="wrapper">
      <div class="search">
          <span id="search_napis">Szukaj pracy:</span>
          <nav>
              <div class="nav-wrapper">
                  <form>
                      <div class="input-field blue darken-2">
                          <input id="search" type="search" required>
                          <label for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </div>
                  </form>
              </div>
          </nav>
      </div>
  </div>
  <nav>
      <div class="nav-wrapper blue darken-2">
          <div class="col s12">
              <a href="#!" class="breadcrumb">First</a>
              <a href="#!" class="breadcrumb">Second</a>
              <a href="#!" class="breadcrumb">Third</a>
          </div>
      </div>
  </nav>

<div class="tresc">
  <div class="row">
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="ogl">
          <div class="img_ogl_div">
              <%= image_tag("ogl/01.jpg", alt: "informatyka", class: "img_ogl") %>
          </div>
          <h4>Szukam programisty</h4>
          <p>Jesteśmy liderem rynku drogeryjnego. Nasze sklepy otwieramy w całej Polsce natomiast swoją centralę mamy w Łodzi.</p>
          <div class="ogl_footer">
              <i class="material-icons">today</i><span id="rodzaj_prac"> 04-07-2016</span>
              <%= link_to raw("<span id='czyt_dalej'>Czytaj więcej</span><i class='material-icons czyt_dalej_icon'>trending_flat</i>") , :ogloszenie, method: :get, class: "czyt_dalej_icon"%>
          </div>
        </div>
      </div>


  </div>
</div>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active blue lighten-3"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
