<main>
  <center>

    <div class="section"></div>

    <div class="container">

      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <h5 class="indigo-text">Logowanie</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row col s12'>
            <div class='input-field col s12'>
              <%= f.email_field :email, autofocus: true %>
              <label for='email'>Email</label>
            </div>
          </div>

          <div class='row col s12'>
            <div class='input-field col s12'>
              <%= f.password_field :password, autocomplete: "off"%>
              <label for='password'>Hasło</label>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field" style='float: left;'>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b><%= render "devise/shared/links" %></b></a>
            </label>
          </div>

          <br />
          <center>
            <div class='row'>
              <div class="actions">
                <%= f.submit "Zaloguj", class: 'col s12 btn btn-large waves-effect indigo' %>
              </div>
            </div>
          </center>
        <% end %>
      </div>
    </div>
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>
